<html lang="en">
<% include ../common/head %>
<body>
	<div class="container-fluid">
		<div class="top_nav">
			<div class="nav_title">
				<div class="left">
					<i class="fa fa-user-circle-o" aria-hidden="true"></i>
					<span>welcome!</span>
				</div>
				<div class="right">
					<span>VERSION 1.0</span>
				</div>
			</div>
			<div class="nav_body">
				<div class="page_title">
					<a href="/"><img src="/images/home-icon.png" width="30" height="30"></a>
				</div>
				<div class="logo">
					<a href="/"><img src="/images/logo.png"></a>
				</div>
			</div>
		</div>
		<div class="navbar-fixed-left">
			<div class="top">
				
			</div>
			<div class="bottom">
				<% include ../partials/menu_buttons %>
			</div>
		</div>

		<div class="tab-content">
			<div class="one_row">
				<label for='bithumb__ETH'>bithumb ETH</label>&nbsp;:&nbsp;&nbsp;
				<input type="number" name="bithumb__ETH" value="0" readonly />
			</div>
			<div class="one_row">
				<label for='poloniex__USDT_BTC'>poloniex USDT_BTC</label>&nbsp;:&nbsp;&nbsp;
				<input type="number" name="poloniex__USDT_BTC" value="0" readonly />
			</div>
			<div class="one_row">
				<label for='bittrex__BTC-ETH'>bittrex BTC-ETH</label>&nbsp;:&nbsp;&nbsp;
				<input type="number" name="bittrex__BTC-ETH" value="0" readonly />
			</div>
		</div>
	</div>
</body>
<script src="/js/scan.js"></script>
</html>
